
<h3 class="mt-5">List of my courses</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
   <tr>
     <td>lorem ipsum 1</td>
     <td>lorem ipsum 2</td>
     <td>lorem ipsum 3</td>
   </tr>
   <tr>
     <td>lorem ipsum 1</td>
     <td>lorem ipsum 2</td>
     <td>lorem ipsum 3</td>
   </tr>
   <tr>
     <td>lorem ipsum 1</td>
     <td>lorem ipsum 2</td>
     <td>lorem ipsum 3</td>
   </tr>
   <tr>
     <td>lorem ipsum 1</td>
     <td>lorem ipsum 2</td>
     <td>lorem ipsum 3</td>
   </tr>
   <tr>
     <td>lorem ipsum 1</td>
     <td>lorem ipsum 2</td>
     <td>lorem ipsum 3</td>
   </tr>
   <tr>
     <td>lorem ipsum 1</td>
     <td>lorem ipsum 2</td>
     <td>lorem ipsum 3</td>
   </tr>
  </tbody>
</table>
